<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskManeger</title>
    <link rel="stylesheet" href="/stylesheets/global.css">
</head>
<body>
    <header>
        <nav>

        </nav>
    </header> 
    <main>
        <section>   
            <form action="/signup">
                <input type="email" name="email" id="email" placeholder="E-mail">
                <button>Increva-se agora!</button>
            </form>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>