<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registre-se</title>
    <link rel="stylesheet" href="/stylesheets/global.css">
</head>

<body>
    <main>
        <section id="register-form">
            <a href="/"><img src="#" alt="Logo"></a>
            <div class="form-structure">
                <h1>Faça sua incrição. É gratis!</h1>
                <div class="form-content">
                    <form action="/signup" method="post">
                        <div class="inputs-register">
                        <input type="email" name="email" id="email" value="" placeholder="E-mail">
                        <input type="text" name="username" id="username" value="" placeholder="Nome de usuario">
                        <input type="password" name="password" id="password" placeholder="Senha">
                        </div>
                        <div id="password-feedback"></div>
                        <button type="submit">Registre-se.</button>
                    </form>       
                </div>
            </div>
        </section>
    </main>
    <footer>

    </footer>
    <script src="/javascript/feedback.js"></script>
</body>

</html>